*ipynb_checkpoints*
*_master.ipynb
*_solution.ipynb
*session_*
*exercise_template.ipynb
*.vscode*
*.slides.html
*.nbgrader.log
src_material/*

!material/session_1/
!material/session_2/
!material/session_3/
!material/session_4/
!material/session_5/
!material/session_6/
!material/session_7/
!material/session_8/
!material/session_9/
!material/session_10/
!material/session_11/
!material/session_12/
!material/session_13/
!material/session_14/
!material/session_15/
!material/session_16/
!material/session_17/
!material/session_18/
*getWeather.py
